apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vm-ingress-{{VM_NAME}}
  annotations:
    kubernetes.io/ingress.class: nginx

    # 여기서 ML 분석을 위해 로그를 남기거나 미러링 설정을 추가할 수 있습니다.
    # nginx.ingress.kubernetes.io/configuration-snippet: |
    #   # 예: 모든 요청 바디를 로그로 남기거나 특정 분석 엔진으로 미러링

spec:
  # tls:
  #   - hosts:
  #     - vps.hy3on.site
  #     secretName: vps-tls-secret # SSL 인증서가 담긴 Secret

  rules:
    - host: {{DNS_HOST}}
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: vm-web-service
              port:
                number: 80